[submodule ".vim/bundle/NerdCommenter"]
	path = .vim/bundle/NerdCommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/Ctags"]
	path = .vim/bundle/Ctags
	url = git://github.com/vim-scripts/ctags.vim.git
[submodule ".vim/bundle/NerdTree"]
	path = .vim/bundle/NerdTree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/NerdTreeTab"]
	path = .vim/bundle/NerdTreeTab
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule ".vim/bundle/TagList"]
	path = .vim/bundle/TagList
	url = https://github.com/vim-scripts/taglist.vim.git
